// sourceMap: true, sourceMapFileInline: false , ieCompat: true, relativeUrls: true, compress: true
//****** Dependencias *******/ 
@import (once,less) "http://mb-minimo-bike.mabisy.com/Themes/MBStore001/css/theme.less";

/*Variables Corporativas*/
@brand-color: #9c28b1;        //color corporativo
@brand-color-negro:#161617;   // color corporativo secundario
@color-primary: @brand-color;   //color corporativo primario
@brand-color-invert: #ffffff;    //color inverso al corporativo primario
@fondo-blanco: #fff;      //Fondo Blanco
@fuente-blanco:#fff;     // Texto Blanco
@font-color-black: #161617;    // Fuente color negro
@link-color: @brand-color;   // Color de la fuente de lo link
/*Genericas*/
@color-borde-generico :#e9e7e7; // Color generico de borde 
/*Footer*/
@footer-background-color:#303030;  //Color de fondo del footer
@footer-font-color-item:#888888;   // Color del texto de los items del footer
@footer-font-color-title: @fuente-blanco; // Color de los titulo del footer
/*Newsletter*/
@background-boton-bewsletter: @footer-background-color; 
@font-color-footer-newsletter:@fondo-blanco;
/*copyright*/
@background-color-copyright: #222222;
/*Menú*/
@background-menu: #161617;    // Color fondo menu desktop
@background-menu-blanco: #fff; ;   // Fondo blanco del menu desktop
@header-background-color: @background-menu; // Color de fondo de la cabecera
@background-submenu: #fff;    // Color de fondo del submenu
@font-color-menu: #fff;       // Color de fuente de menu desktop
@font-color-menu-negro: #161617;
@font-color-submenu: #161617; // Color de fuente de submenu
@font-color-menu-movil: @font-color-black;
/*carrito*/
@font-color-btn-carrito: #fff;  // Texto boton carrito de compra
@fondo-campo-formulario: #e9e7e740; // Fondo de campos de formulario


/********  ENCABEZADO  **********/

/*Encabezado top */
@media (min-width: 1200px){
    .mb-panel-cabecera>.wrapper:not(.full) {
        margin: 0 auto;
        max-width: 1400px;          
    }
    .mb-panel-pie-sub>.wrapper:not(.full){
        max-width: 1200px;   
    }
    .mb-panel-pie>.wrapper:not(.full){
        margin: 0 auto;
        max-width: 1200px;
    }
    .mb-panel-pie-sup>.wrapper:not(.full){
        max-width: 1200px;
    }
}

.mb-panel-cabecera {
    .mb-mod-menu {
        .mb-js-desplegable-capa{  
            @media(min-width:@res-min-md){        
                .content{
                    background: @background-menu; 
                }                       
            }
            @media(max-width:@res-max-md){        
                .content{
                    background: @background-menu-blanco;
                }                       
            }
        }
    }
}

@media(max-width:@res-max-md){
    body.scroll-top {
        .mb-mod-menu {
            .content>.menu{
                background: @background-menu;  
                color: white;                
            }
        }
    }
}

body.scroll-top,  body.scroll-mid{
    .mb-panel-cabecera{
        border: none;
        background: @background-menu;        
    }
    .mb-mod-menu {
        @media(min-width:@res-min-md){       
            .content>.menu {
                background: @background-menu;  
                color: white;
                font-weight: 400;
                letter-spacing: 0.05rem;
            }
        }

        @media(max-width:@res-max-md){       
            .content>.menu {
                background: @background-menu-blanco;
                color: @font-color-menu-negro; 
            }
        }
   } 

   .mb-mod-search{  
        .btn-search, .btn-link{        
            color:  @font-color-menu;        
                &:hover, &:focus, &:active {
                    color: @brand-color;
                }
        }
        .mb-js-desplegable .abierto{
            .btn-cerrar, .btn-search{
                color: @brand-color;
            }
        }
    }        

    .mb-mod-cartsummary {  
        .btn-cart, .btn-link{        
            color:  @font-color-menu;        
            &:hover, &:focus, &:active {
                color: @brand-color;
            } 
        }         
    }

    .mb-mod-accoundatainform{
        .btn-user, .btn-link{        
            color:  @font-color-menu;        
            &:hover, &:focus, &:active {
                color: @brand-color;
            } 
        }   

    }
}

@media (min-width: @res-min-md){
    .mb-mod-cartsummary .mb-js-desplegable-capa.abierto{  
      display: block;
      width: 350px;
      padding: 20px 30px;
    }
}

.mb-mod-cartsummary {  
    .mb-js-desplegable-capa {
        position: absolute;
        display: none;
        top: 100%;
        padding: 30px 32px;
        right: 0;
        min-width: 290px;
    }
    .content .cart .item.product .title {
        color: @font-color-submenu;
        text-decoration: none;
        cursor: pointer;
        grid-area: title;
        text-align: left;
        padding: 1px 0px;
        font-family: 'Hind', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .content .cart .item.product .details {
        grid-area: details;
        margin: 0;
        list-style: none inside;
        padding-left: 0;
        text-align: left;
        font-size: 80%;
        margin-left: 14px;
        padding: 10px 0px;
    }

    .item-subtotal {
        display: none;
    }
    .unitprice .label {
        display: none;
    }
    .price{
        color: @brand-color;
    }
}

.mb-mod-accoundatainform { 
    .mb-js-desplegable-capa.abierto{  
        @media (min-width: @res-min-md){       
          display: block;
          width: 240px;
          padding: 20px 30px;
        }
    } 
}

/*Cabecera Scroll*/
@media (min-width: @res-min-md){
    body.scroll-mid{
        .mb-panel-cabecera{
            border: none;
            background:@background-menu-blanco;      
        }
        .mb-mod-menu {
            .content>.menu {
                background: @background-menu-blanco;  
                color: @font-color-menu-negro;
                font-weight: 400;
                letter-spacing: 0.05rem;
            }
        } 

    .mb-mod-search{  
            .btn-search, .btn-link{        
                color:  @font-color-menu-negro;        
                    &:hover, &:focus, &:active {
                        color: @brand-color;
                    }
            }
        .mb-js-desplegable .abierto{
                .btn-cerrar, .btn-search{
                    color: @brand-color;
                }
            }
    }        

        .mb-mod-cartsummary {  
            .btn-cart, .btn-link{        
                color:  @font-color-menu-negro;         
                &:hover, &:focus, &:active {
                    color: @brand-color;
                } 
            }         
        }

        .mb-mod-accoundatainform{
            .btn-user, .btn-link{        
                color: @font-color-menu-negro;         
                &:hover, &:focus, &:active {
                    color: @brand-color;
                } 
            }   

        }
    }
}

/*Submenu*/
header .submenu .with-submenu {
    line-height: 23px;
    color: @font-color-submenu;
    transition-duration: 0.5s;
}

@media (min-width: 992px){
    .mb-panel-cabecera .mb-mod-menu .menu>.item.with-submenu:hover>.submenu {        
        padding: 3%;
    }
}

@media (min-width: 768px) and (min-width: 992px){
    .mb-panel-cabecera .mb-mod-menu .menu>.item.with-submenu>.submenu>.item>a {
        font-size: 18px;
        padding: 25px 0;
        line-height: 3px;
    }
}

/*Paso checkout*/
.mb-mod-cartsteps {
    padding: 30px 0px 10px 0px;
}

.mb-mod-newcustomer p.h3 {
    color: @brand-color;
}

.mb-mod-newcustomer .buttons {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 25px 5%;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=date], input[type=tel] {
    background: #f7f8fa;
    border: 1px solid #e9e7e7;
    border-radius: 6px;
    padding: 2px 15px;
    color: @font-color-black;
    height: 40px;
    font-family: Hind,Arial,Helvetica,sans-serif;
    max-width: 100%;
}

.shipping-data{
    .mb-form .field {
        margin-bottom: 7.5px;
        padding: 12px;
        background: #f7f8fa;
        margin: 5px;
        border-radius: 5px;
    }
}

.buttons .btn-checkout, .btn-checkout {
    background: @brand-color;
    border: 1px solid  @brand-color;
        &:hover{
            background: @brand-color-negro;
            border: 1px solid  @brand-color-negro;
        }
}

/*Producto*/
.mb-mod-productdetails {
    padding: 50px 10px;
    margin-top: 6%;

    .mb-form.options {
        margin: 18px 0px;
    }

    .options .field.quantity label {
    display: none; 
    }
    .options .field .help-text {   
        padding: 30px 5px;
    }

    .text-stock.ok {
        color: #5cb85c;
        padding: 8px 18px;
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        font-size: 14px;
        transition: all .2s ease;
        -ms-transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        width: 100%;
        min-height: 50px;
    }
    .manufacturer-more {
        padding: 45px 0px;
        text-align: center;
    }
    .mb-product-detail>.tabsinfo {
        grid-area: tabs;
        padding: 30px 0px;
    }

}

.mb-product .labels {
    margin: -1px 0px 0px 15px;
}

/*Carousel productos*/
@media (min-width: @res-min-sm){
    .mb-product-list.grid-2 .mb-product {
        min-width: 270px;
        width: auto;
        grid-template-rows: fit-content(240px) auto;
    }
}

/*Lista y tarjeta de compra*/
@media (max-width: @res-max-sm){
    .mb-mod-shoppingcart>.sumary {
        grid-area: sumary;
        align-self: start;
        border: 1px solid #e9e7e7;
        padding: 15px;
        margin-bottom: 15px;
        position: relative;
        top: 60px;
        bottom: 0;
    }
}

.mb-mod-shoppingcart {
    .buttons .btn-checkout {
        background-color: @brand-color;
        border-color: @brand-color;
        &:hover{
            background-color: @brand-color-negro;
            border-color: @brand-color-negro;
        }
    }
    .item .title {
        font-family: Hind,Arial,Helvetica,sans-serif;
        color: #161617;
        line-height: 1.2;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        text-transform: none;
        padding-right: 15px;
    }
}

.mb-mod-shoppingcart {
    .mb-mod-sumarycartpurchase {
    min-width: 270px;
    padding-top: 10px;
        .btn-adddiscount {
            margin: 15px;
        }

        .input-discount {
            display: block;
            width: 100%;
            text-align: center;
            margin: 10px 0px;
        }
        .links a {
            text-decoration: none;
            cursor: pointer;
            color: #303030;
        }

    }
}

/*Buscador*/
.mb-mod-search .mb-js-desplegable-capa {
    @media (min-width: @res-min-sm) {
           padding: 30px 130px;
        }
    }

/*Slider*/
.wrapper:not(.full) .mb-cont.mb-cont-full .mb-gallery.mb-js-slider .item .image-box, .wrapper:not(.full) .mb-cont.mb-cont-full .mb-gallery.mb-js-slider .item .image-box img {
    max-height: 100%;
}

/**Grid Categorías*/
.mb-mod-categorymenulist .grid, .mb-mod-productslistmenu .grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

@media (max-width: 767px) and (min-width: 383.5px){
    .mb-mod-categorymenulist .grid {
        grid-template-columns: repeat(2,minmax(calc(50% - 15px),auto));
        grid-auto-rows: calc(35vmax - 15px);
     }
}

a.btn.btn-img:nth-child(5) {
    display: none;
}
a.btn.btn-img:nth-child(6) {
    display: none;
}

/*Botones*/
.btn-checkout, .mb-product-detail .btn-addcart, .buttons .btn-continue, .button-continue .btn-continue, .mb-product .btn-carrito, .mb-mod-newcustomer .btn-checkout{
    color: #fff;
    background-color: @brand-color;
    border-color: @brand-color;
        &:hover, &:focus, &:active {
            background-color: @brand-color-negro;
            border-color: @brand-color-negro;
        }
}

/*breadcrumb*/
.mb-mod-breadcrumb {
    background: @brand-color;
    color: @brand-color-invert;
}

.mb-mod-breadcrumb .breadcrumb .breadcrumb-link {
    text-decoration: none;
    cursor: pointer;
    color:@brand-color-invert;
    font-size: 12px;
}

/*Card Blog*/
.mb-post-grid{
    .mb-post{ 
        text-align: center;
        .image-box {
            grid-area: imagen;
            margin-bottom: -62px;
            margin-left: -15px;
            margin-right: -20px;
            z-index: -1;
            padding-top: 7%;
        } 
        .content {
            padding: 0px 21px;
        }
        .title{
            &:hover{
                margin:2%;
            }  
        }  
    }
    .mb-post:nth-child(-n+1) {
        display: none;
    }
    
    .mb-post>:first-child {
        padding-top: 26px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        letter-spacing: 0.03em;
        font-family: 'Hind', sans-serif;
        position: relative;
        margin: 7px 0 0 0;
    } 
    .social {
        display: none;
    }   
} 


.mb-mod-blog-entrieslist .buttons {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 5px 0;
    display: none;
}


/*Lista de productos de una categoria*/
.mb-mod-productlistheader .title.with-image {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-areas: "title";
    grid-template-rows: 60vmin;
    grid-template-columns: 100%;
    margin: 0 calc(-50vw + 50% + 7.5px);
}

@media (min-width: @res-min-sm){
    .mb-mod-productlistheader .categories .category {
        margin: 15px 0;
        min-height: 250px;
    }
}

.mb-mod-productlist .buttons.top{
    padding: 5px 18px;  
    background: #f7f8fa;
    border-radius: 8px;
    margin-bottom: 25px;
    select, textarea{       
       border: 1px solid #ececec;
       color:@font-color-black;
       background: @fondo-blanco;
    }
}

@media (min-width: @res-min-sm){   
    .mb-mod-productlist{   
        .mb-product-list.grid{
            &-1 {        
            padding-top: 5%;
            }   
            &-2 {        
            padding-top: 5%;
            } 
            &-3 {        
            padding-top: 5%;
            }
        }
    }
}

.mb-mod-productlist .top{
    padding: 25px 0px;
}

.mb-product-list{
    .mb-product{
        .btn-carrito{
           margin: 0px;
        }
    }
}

.mb-mod-productlistheader .description {
    text-align: center;
    padding: 35px 0;
    margin-top: 25px;
}

/*Contenido Blog*/
.mb-blog-post .content {
    order: 5;
    text-align: initial;
    margin-bottom: 50px;
    border-bottom: 1px solid #bec3c952;
    padding: 30px 0px;
}

.mb-blog-post>.title {
    order: 0;
    margin-top: 28px;
    overflow-wrap: break-word;
    max-height: 80px;
    overflow: hidden;
    margin-right: 10px;
    max-width: 600px;
}

.comments-form {
    margin-top: 30px;
}

/*Datos de acceso*/
.mb-cont.mb-cont-h1 h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.mb-mod-mydatainformedit {
    padding-top: 40px;
}

/*Footer*/
footer .mb-mod-newsletter .checkbox{
    display: none;
}
.mb-panel-pie-sub {
    background: #161617;
}

@media(min-width:@res-min-sm){
    .mb-panel-pie .mb-cont.mb-js-desplegable .cont-title {
        color: @footer-font-color-title;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em;
        font-weight: 400;
        padding-bottom: 15px;
        margin: 0 0 7px;
    }
}
@media(max-width:@res-max-sm){
    .mb-panel-pie .mb-cont.mb-js-desplegable .cont-title {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: .03em;
        font-weight: 300;
        padding-bottom: 12px;
        margin: 0 0 4px;
        border-bottom: 1px solid #8c8c8c40;
    }
}

.mb-panel-pie ul.menu {
    color: @footer-font-color-item;
    line-height: 22px;
}

footer .mb-panel-pie.mb-js-scroll.in {
    padding: 45px 0px;
    background: #161617;
}


@media (min-width: @res-min-sm) and (max-width: @res-max-md){
    .mb-panel-pie {
        padding: 0px 25px;
    }
}

@media (min-width: @res-min-sm){
    .mb-panel-pie {
        padding: 23px 0px 48px;
    }
    .mb-panel-pie-sup{
        .mb-mod-newsletter{
            @media (min-width: @res-min-md){
                .title {
                    margin-right: 116px;
                    font-size: 16px;  
                }         
           }
            @media (min-width: @res-min-sm) and (max-width: @res-max-md){
                .title {
                    margin-right: 0px;
                    font-size: 16px;
                }
            }   
        }
    }
}

@media (max-width: @res-max-sm){
    .mb-panel-pie {
        padding: none;
    }
}

@media (max-width: @res-max-sm){
    footer {
        .mb-mod-newsletter {
            .title {
                flex-grow: 1;
                text-align: center;
                padding: 14px;
                color: @font-color-footer-newsletter;
                font-size: 17px;
            }   
            .btn-newsletter {
                height: 42px;
                max-height: 42px;
            }        
            .input-email {
                height: 42px;
            }   
        
        }
    }
}

@media (min-width: @res-min-sm){ 
    .mb-panel-pie-sup {
        .mb-mod-newsletter{
          padding: 9px 0; 
            .btn-newsletter {
                height: 42px;
                max-height: 42px;
            }  
            .input-email {
                height: 42px;
            }        
        }
        .mb-mod-sociallinks{
          padding-left: 116px;
        }
    }  
    .mb-panel-pie>.wrapper>* {
        margin: 10px;
    }
}

@media (max-width: @res-max-sm){ 
    footer {
        .mb-mod-sociallinks {
        text-align: center;
        justify-content: left;
        color: @fuente-blanco;
        margin: 12px 0px 0px 0px;
        }
    }
}

footer{
     a{
        &[href^=mailto]{
        color:@fuente-blanco;
        }
        &[href^=tel]{
            color:@fuente-blanco;
        }
    }
    address {
        font-style: normal;
    }    
}

/*Titulo secciones*/
@media (min-width: @res-min-sm){
    .mb-cont>.cont-title {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

/*Copyright*/
footer.mb-panel-pie-sub.mb-js-scroll.part {
    background: @background-color-copyright;
}

.copyright-logo a {
    padding-right: 15px;
}

@media (max-width: @res-max-sm){    
    .copyright {
        padding: 20px 25px;
        display:block;
    }
    .copyright-logo {         
        display: -webkit-flex;
        display: flex;    
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;    
        span {
            font-size: 80%;
            margin: 5px 0 15px 0;
        }
    }
}

@media (min-width: @res-min-sm){
    .copyright {
        padding: 21px 0px;
        display:flex;
    }
    .copyright-logo {     
        display: block;    
        width: 50%; 
    }
}    

@media (max-width: @res-max-sm){
    .copyright {
        padding: 15px 25px;
        display:block;
    }
    .copyright-pagos {       
        display: block;
        text-align: center;
        img {
            height: 11px;
            width: auto;
            }
    }
}

@media (min-width: @res-min-sm){
    .copyright {
        padding: 21px 0px;
        display:flex;
    }
    .copyright-pagos {       
        display: -webkit-flex;
        display: flex;
        margin-left: 13%;          
        img {
            height: 22px;
            width: auto;
            }
    }
}    

/*Formulario*/
.mb-form .field {
    margin-bottom: 10.5px;
    padding: 13px;
    background: @fondo-campo-formulario;
    &hover{
        border-left: 1px solid @brand-color;
    }
}

/*Banner*/
.mb-mod-banner{
   @media (min-width: @res-min-sm){      
        .texto-banner {
            font-family: 'Hind', sans-serif;
            color:@font-color-btn-carrito; 
            display: block;
            text-align: center;
            position: relative;
            top: 120px;
            .titulo {            
                padding: 10px 15px;            
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 16px;
            }
            .linea-1,.linea-2 {            
                font-size: 70px;
                line-height: 70px;
                font-weight: 500;
                -moz-transition: color 0.2s linear;
                -o-transition: color 0.2s linear;
                -webkit-transition: color 0.2s linear;
                transition: color 0.2s linear;
                }
            .boton-banner {
                font-size: 16px;
                width: 210px;
                padding: 14px 7px;
                margin: 28px 15px;
                background: @brand-color;
                align-items: center;
                display: inline-block;
                border-radius: 6px;
                &:hover{
                    background: @brand-color-negro;
                }              
            }
            a{
                color: @font-color-btn-carrito; 
            }  
        }
   }
   
   @media (max-width: @res-max-sm){ 
        .texto-banner {
            font-family: 'Hind', sans-serif;
            color:@font-color-btn-carrito; 
            display: block;
            text-align: center;
            position: relative;
            top: 120px;   
            .titulo {            
                margin-bottom: 12px 0px;            
                line-height: 25px;
                margin-bottom: 16px;
            }     
            .linea-1,.linea-2 {            
                font-size: 32px;
                line-height: 34px;
                font-weight: 700;
                 -moz-transition: color 0.2s linear;
                 -o-transition: color 0.2s linear;
                 -webkit-transition: color 0.2s linear;
                 transition: color 0.2s linear;
                 }
        }
        .boton-banner {
            font-size: 16px;
            width: 210px;
            padding: 14px 7px;
            margin: 28px 15px;
            background: @brand-color;
            align-items: center;
            text-align: center;
            display: inline-block;
            border-radius: 6px;
            &:hover{
                background: @brand-color-negro;
            }            
        }

        a{
            color: @font-color-btn-carrito; 
        }
   }
}

/*Slider*/
.mb-mod-banner{
    @media (min-width: @res-min-sm){      
         .texto-slider {
            font-family: Hind,sans-serif;
            color: @font-color-btn-carrito; 
            display: block;
            text-align: left;
            position: relative;
            top: 180px;
            left: 19%; 
             .titulo {                                 
                 font-size: 32px;
                 line-height: 36px;
                 margin-bottom: 16px;
             }
             .linea-1,.linea-2 {            
                font-size: 60px;
                line-height: 64px;
                font-weight: 700;
                 -moz-transition: color 0.2s linear;
                 -o-transition: color 0.2s linear;
                 -webkit-transition: color 0.2s linear;
                 transition: color 0.2s linear;
                 }

            .descripcion {            
                font-size: 18px;
                line-height: 60px;
                font-weight: 100;
                -moz-transition: color 0.2s linear;
                -o-transition: color 0.2s linear;
                -webkit-transition: color 0.2s linear;
                transition: color 0.2s linear;
            }

            .boton-banner {
                font-size: 16px;
                width: 210px;
                padding: 14px 7px;
                margin: 28px 15px;
                background: @brand-color;
                align-items: center;
                text-align: center;
                display: inline-block;
                border-radius: 6px;
                &:hover{
                    background: @brand-color-negro;
                }
            }           
            a{
                color: @font-color-btn-carrito; 
            }  
         }
    }
       
    @media (max-width: @res-max-md){ 
        .texto-slider {
            font-family: 'Hind', sans-serif;
            color:white;
            display: block;
            text-align: center;
            position: relative;
            top: 120px;  
            left: 0;      
            .linea-1,.linea-2{
                font-size: 32px;
                line-height: 29px;
            }
        }
        .boton-banner {
            font-size: 16px;
            width: 210px;
            padding: 14px 7px;
            margin: 28px 15px;
            background: @brand-color;
            align-items: center;
            text-align: center;
            display: inline-block;
            border-radius: 6px;
            &:hover{
                background: @brand-color-negro;
            }
        }
        a{
            color: @font-color-btn-carrito; 
        }  
    }
 }

/*Tiempo de carga*/
section#mb-time {
    display: none;
}

/*Sidebar left*/
.mb-panel-body .lateral {
    margin-top: 180px;
    padding: 0px 15px;
}

/*Formulario Contacto*/
.mb-mod-contactform {
    .title-address {
    padding-bottom: 25px;    
    }
    .title-form .subtitle {
        padding-bottom: 25px;
        padding-top: 8px;
        text-transform: capitalize;
    }
}

/*Otros*/
.mb-cont.mb-cont-h1 h1 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: .03em;
}

/*paginación*/
.mb-pagination {
    .item{
        background-color: #e9e7e7;
        font-weight: 500;
    }
    .item:last-child{
        background: #cecbcb;
    }
    .item:first-child{
        background: #cecbcb;
    }
    .item.disabled{
        color: @brand-color;
    }
}
/*.... .- .-. --- .-.. -.. .-.-.*/
